$govuk-assets-path: "/users/assets/";

@import "~govuk-frontend/govuk/all";

.align-right {
  margin-left: auto;
}

.disabled-link {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
