$govuk-assets-path: "/users/";

@import "~govuk-frontend/dist/govuk/all";

.align-right {
  margin-left: auto;
}

.disabled-link {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: underline;
  font-family: "Verdana" sans-serif;
  font-size: 1em;
  text-align: left;
  color: blue;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
}
